@import '../../node_modules/scss-reset/src/scss/_reset';
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700,900");

// colors
@import './global/colors';
@import './global/animation';

// components
@import './components/loading';
@import './components/cards';
@import './components/card';
@import './components/overlay';

.App {
  height: 100vh;
  background-color: $cDarkGrey;
  font-family: 'Roboto';
  text-align: center;
  overflow: hidden;
}
